html {
    font-size: 62.5%;
}

.container.one-third.columns.alpha {
    float: left;
}

.container.two-third.columns.omega {
    float: right;
}


.pix_button {
    color: #fff;
    background-color: aqua;
    padding: 1.6rem;
}